{% extends "layout-split-2.html" %}

{% load humanize %}

{% load pagination_tags %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}retail/stylesheets/dashboard.css" />
{% endblock %}
{% block title %}Carbon Keeper{% endblock %}
{% block left %}
<div class="module">
<h2>Project Summary</h2>

<table>
    <tbody>
        <tr>
            <td>Registered Sellers:</td>
            <td>{{ total_staff_count|intcomma }}</td>
        </tr>
        <tr>
            <td>Sales to Date:</td>
            <td>{{ total_sale_count|intcomma }}</td>
        </tr>
        <tr>
            <td>Revenue:</td>
            <td>Tsh {{ total_revenue|intcomma }}</td>
        </tr>
    </tbody>
</table>
<div>
<input type="button" onclick="location.href='/retail/sales/export/';" value="Export CSV"/>
</div>
</div>
<!--<div class="module">
<h2>Inventory</h2>
{% for p in inventory_list %}
	<div class="product_pie_outer">
	<h4>{{ p.product }}</h4>
        <div class="product_pie_inner">
	<img src="http://chart.apis.google.com/chart?cht=p&chs=75x75&chd=t:{{ p.sale_count }},{{ p.stock_count }}"><br>
	<div class="product_pie_label">{{ p.sale_count }} sold</div> 
	<div class="product_pie_label">{{ p.stock_count }} in stock</div>

</div>
</div>
{% endfor %}
</div>-->
<div class="module">
<h2>Sales by Region</h2>
<img src="https://chart.googleapis.com/chart?cht=map&chs=276x269&
chld={% for region in map_data %}TZ-{{ region.number }}|{% endfor %}&
chd=t:{% for region in map_data %}{% if forloop.last %}{{ region.sale_percent}}{% else %}{{  region.sale_percent  }},{% endif %}{% endfor %}&
chco=989898,FFFFFF,FF0000"><br/>
<p class="help-text">Darker colors<br/>indicate more sales</p>             
</div>
{% endblock %}
{% block right %}
<!--<div class="module">
<h2>Top Sellers</h2>
{{ performance_table.as_html }}
</div>-->
{% for o in org_table %}
<div class="module">
<h2>{{ o.name }}</h2>
<table>
    <tbody>
        <tr>
            <td width="25%">Registered Sellers:</td>
            <td>{{ o.staff_count|intcomma }}</td>
        </tr>
        <tr>
            <td width="25%">Sales to Date:</td>
            <td>{{ o.sale_count|intcomma }}</td>
        </tr>
        <tr>
            <td width="25%">Revenue:</td>
            <td>Tsh {{ o.revenue|intcomma }}</td>
        </tr>
    </tbody>
</table>
<div>
<input type="button" onclick="location.href='/retail/sales/export/{{ o.id }}/';" value="Export CSV"/>
<a href='/dashboard/{{ o.id }}/'>View organization page</a>
</div>
</div>
{% endfor %}
{% endblock %}
