{% extends "layout-split-2.html" %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}retail/stylesheets/dashboard.css" />
{% endblock %}

{% block title %}Admin Tools{% endblock %}

{% block left %}
<div class="module">
<h2>Advanced options</h2>

<table>
    <tbody>
        <tr>
            <td><a href="/messagelog">Message Log</a></td>

        </tr>
        <tr>
            <td><a href="/httptester">Message Tester</a></td>

        </tr>
    </tbody>
</table>
</div>           
{% endblock %}

