/* vim:set et ts=4 sw=4 */

#inner .col-1 { width: 30%; }
#inner .col-2 { width: 70%; }

.col-1 table {
    width: 100%;
}

    .col-1 th,
    .col-1 td {
        white-space: nowrap;
    }

    .col-1 col { width: 1%; }
    .col-1 col:last-child { width: auto; }

.col-2 table {
    width: 100%;
}

.module {
    border: 1px solid #CCCCCC;
}

.product_pie_outer {
    float: left;
    padding: 3px;
}

.product_pie_inner {
    text-align:center;
    padding: 5px;
}

.product_pie_label {
    text-align:center;
    padding: 3px
}

h4 {
    text-align:center;
    margin: 0px;
}

.help-text {
    color: #000000;
    font-size: 75%;
    margin: -17px 43px 0px;
    padding: 0px;
} 
