/* vim:set et ts=4 sw=4 */

#inner .col-1 { width: auto; }
#inner .col-2 { width: 73%; }

.col-1 table {
    width: 100%;
}

    .col-1 th,
    .col-1 td {
        white-space: nowrap;
    }

    .col-1 col { width: 1%; }
    .col-1 col:last-child { width: auto; }

.warning {
    background-color: #FC6;
    border: 1px solid #F90;
    font-size: 1.2em;
    padding: 4px;
}
