{% extends "registration/base.html" %}
{% load forms_tags %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}registration/stylesheets/dashboard.css" />
{% endblock %}

{% block left %}
<div class="module">
	<h2>Staff for {{ organization }}</h2>
	{{ contacts_table.as_html }}<!--{% if contact %}

	<div class="toolbar">
		<a href="{% url registration %}" class="add">Add a Contact</a>
	</div>{% endif %}-->
</div>
{% endblock %}

{% block right %}
{% if contact %}
<div class="module">
        <h2>{{ contact }}</h2>
        <table>
            <tr>
                <td class="label"> Sales: </td>
                <td> {{ seller_summary.sale_count }} </td>
            <tr>
            </tr>
                <td class="label"> Revenue: </td>
                <td> {{ seller_summary.revenue }} </td>
            </tr>
            <tr>
                <td class="label"> Last sale: </td>
                <td> {{ seller_summary.last_sale_date }} </td>
            </tr>
            <tr>
                <th colspan="2"><strong>Current Stock:</strong>{% if seller_summary.stock_summary %}{% else %} None{% endif %}</th>
            </tr>
            {% for s in seller_summary.stock_summary %}
                <tr>
                    <td class="label"> {{ s.product_name }}: </td>
                    <td> {{ s.stock_amount }} </td>
                </tr>
            {% endfor %}
        </table>
</div>
<div class="module">
	<h2>
		Edit
	</h2>

	<form action="" method="post">
		{% render_form contact_form %}
		{% csrf_token %}

		<div class="submit">
			<input type="submit" name="submit" value="Save Contact" /><!--{% if contact %}
			<input type="submit" name="submit" value="Delete Contact" />{% endif %}-->
		</div>
	</form>
</div>
{% else %}
<div class="module">
	<h2>
		Edit
	</h2>
	<p>Click on a staff member's name at right to edit.</p>
</div>
{% endif %}
<!--
<div class="module collapsed">
        <h2>Bulk Registration</h2>
	<form action="" method="post" enctype="multipart/form-data">
		{% render_form bulk_form %}
		{% csrf_token %}

		<div class="submit">
			<input type="submit" name="submit" value="Save Contacts" />
		</div>
	</form>
</div>
-->
{% endblock %}
